defaults:
  processing_mode: many-to-one
  backend: llm
  inference: remote
  export_format: csv
docling:
  pipeline: ocr
  export:
    docling_json: true
    markdown: true
    per_page_markdown: false
models:
  llm:
    local:
      default_model: ibm-granite/granite-4.0-1b
      provider: vllm
    remote:
      default_model: mistral-small-latest
      provider: mistral
  vlm:
    local:
      default_model: numind/NuExtract-2.0-2B
      provider: docling
output:
  directory: outputs
