### Core Dependencies ###
networkx>=3.0
docling[vlm]
pydantic
pymupdf

### Visualization Libraries ###
matplotlib>=3.7.0,
pyvis>=0.3.2,

### CLI Libraries ###
typer[all]
dotenv
rich

### Notebook & Utility Libraries ###
notebook
ipython


### Local LLM Providers ###
ollama
vllm

### API Providers ###
ibm-watson-machine-learning
mistralai
google
openai